<div class="row forums">
  <% if @forum.subforums.any? %>
      <div class="medium-12 columns">
        <div class="card-forum">
          <div class="card-title medium-12 large-12 small-12">
            Subforums van <%= @forum.name %>
          </div>
          <% @forum.subforums.each do |subforum| %>
              <div class="row forum-row">
                <div class="medium-1 large-1 columns hide-for-small-only icon">
                  <i class="fa fa-comment" aria-hidden="true"></i>
                </div>
                <div class="medium-8 large-8 small-6 columns">
                  <%= link_to subforum.name, {controller: 'forums', action: 'show', id: subforum.id}, class: 'forum-link' %>
                  <p class="forum-description"><%= subforum.description %></p>
                </div>
                <div class="medium-3 large-3 small-6 columns">
                  <% @forum.last_topic(subforum.id).each do |topic| %>
                      <%= link_to truncate(topic.title, length: 30), {controller: 'topics', action: 'show', id: topic.id, slug: topic.slug}, class: 'recent-topic-link' %>
                      <p class="recent-post-author">
                        Door
                        <%= link_to topic.lastposter.username, {controller: 'users', action: 'show', id: topic.lastposter.id}, class: 'role ' + topic.lastposter.role.name %>
                        <br><span class="recent-post-author"><%= time_ago_in_words(topic.lastpost_date) %>
                        geleden</span>
                      </p>
                  <% end %>
                </div>
              </div>
          <% end %>

        </div>

      </div>
  <% end %>

</div>

<div class="row forums">
  <div class="medium-12 columns">
    <div class="card-forum">
      <div class="card-title medium-12 large-12 small-12">
        Topics van <%= @forum.name %>
        <% if logged_in %>
            <div class="pull-right">
              <%= link_to "Nieuw topic", {controller: 'topics', action: 'create', id: @forum.id}, class: 'tiny success button' %>
            </div>
        <% end %>
      </div>
      <% @forum.topics.where(:deleted => false).order(:created_at => 'desc').each do |topic| %>
          <div class="row forum-row">
            <div class="medium-1 large-1 columns hide-for-small-only">
              <i class="fa fa-comment icon" aria-hidden="true"></i>
              <% if topic.closed %>
                <i class="pull-right fa fa-lock closed"></i>
              <% end %>
            </div>
            <div class="medium-8 large-8 small-6 columns">
              <%= link_to topic.title, {controller: 'topics', action: 'show', id: topic.id, slug: topic.slug}, class: 'forum-link' %>
              <p class="forum-description"><%= time_ago_in_words(topic.created_at) %> geleden</p>
            </div>
            <div class="medium-3 large-3 small-6 columns">
              <p class="recent-post-author">
                Door
                <%= link_to topic.lastposter.username, {controller: 'users', action: 'show', id: topic.lastposter.id}, class: 'role ' + topic.lastposter.role.name %>
                <br><span class="recent-post-author"><%= time_ago_in_words(topic.lastpost_date) %> geleden</span>
              </p>
            </div>
          </div>
      <% end %>

    </div>

  </div>
</div>

