<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Toccata: <%= (@page_title.nil?) ? 'Welkom' : @page_title %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="title-bar" data-responsive-toggle="header-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">toccata</div>
</div>
<header id="header-menu">
  <div class="row">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="brand"><%= link_to 'Toccata', controller: 'pages', action: 'landing' %></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown medium-horizontal menu" data-dropdown-menu>
          <li><%= link_to 'Home', controller: 'pages', action: 'landing' %></li>
          <li><%= link_to 'Forum', controller: 'forums', action: 'index' %></li>
          <% if logged_in %>
              <li><%= link_to current_user.username, controller: 'users', action: 'index' %>
              <li>
                <form style="display:none" action="<%= root_url %>users/logout" method="post" name="form_logout"><%= token_tag %></form>
                <a href="#" onclick="document.form_logout.submit(); event.returnValue = false; return false;">Uitloggen</a>
              </li>
              <li><%= link_to 'Instellingen', controller: 'users', action: 'login' %></li>
          <% else %>
              <li><%= link_to 'Aanmelden', controller: 'users', action: 'login' %></li>
              <li><%= link_to 'Inloggen', controller: 'users', action: 'login' %></li>
              <li><%= link_to 'Registreren', controller: 'users', action: 'create' %></li>

          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
<% if flash[:message] %>
    <div class="callout small <%= flash[:type] %>"><%= flash[:message] %></div>
<% end %>

<div class="row" style="margin-top:20px;">
  <div class="medium-12 columns">
    <div class="">
      <ul class="breadcrumbs">
        <%= render_breadcrumbs :separator => '', :tag => 'li' %>
      </ul>
    </div>
  </div>
</div>


<%= yield %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(document).foundation();
  });

</script>
</body>
</html>
